.newsreader {
}
.nr_description {
	font-weight: bold;
}
.nr_content {
}
.nr_content ul {
}
.nr_content li {
	margin-bottom: 1em;
	list-style: circle;
}
.nr_itemdesc {
}

.discreet {
	font-size:90%;
}
